* {
    margin: 0;
    padding: 0;
}

body th td button {
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Lato', 'Noto Sans KR', Malgun Gothic, "맑은 고딕", AppleGothic, Dotum, "돋움", sans-serif;
    color: #000;
}

div {
    display: block;
    unicode-bidi: isolate;
}
 /* --- 사이드 콘텐츠 목록 --- */
.sub_content{
    padding: 40px 0 0 0;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.sub_content .side_content{
    float: left;
    width: 200px;
}

.side_content .sub_menu_box{
    min-height: 250px;
    padding: 0 0 50px 0;
}

.side_content .sub_menu_box h2{
    padding: 0 0 14px 0;
    border-bottom: 1px solid #ececec;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Pretendard-ExtraBold';
}

h2{
    display: block;
    /* font-size: 1.5em; */
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
    unicode-bidi: isolate;
}

.side_content .sub_menu_box .sub_menu_page{
    margin: 7px 0 0 0;
}

.side_content .sub_menu_box .sub_menu_page>li:first-child{
    margin: 30px 0 0 0;
}

.side_content .sub_menu_box .sub_menu_page>li{
    padding: 8px 0 15px 0;
    font-size: 14px;
    font-weight: bold;
    background-image: url(../images/lnb_tit.png);
}

dl ul ol li{
    list-style: none;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

ul {
    display: block;
    /* list-style-type: disc; */
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.side_cont .sub_menu_box .sub_menu_mypage .sub_depth1{
    display: block;
    margin: 5px 0 25px 0;
    position: static;
}

.side_cont .sub_menu_box .sub_menu_mypage .sub_depth1 li{
    display: block;
    padding: 1px 0 0 0;
    font-weight: normal;
}

.sub_menu_box .sub_depth1 li {
    position: relative;
}

/* --- 콘텐츠 목록 시작 --- */

#contents .sub_content > .side_cont + .content {
    float: left;
    width: 960px;
    padding: 0 0 0 40px;
}

.sub_content .content {
    width: 100%;
    min-height: 500px;
    padding: 0;
}

/* 마이페이지 상단 목록 시작 */

.mypage_main, .mypage_cont {
    padding: 0 0 50px 0;
}

.mypage_top_info {
    width: 100%;
    margin: 0 0 35px 0;
    border: 1px solid #c6c6c6;
    background: #f7f9f8;
    height: 194px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mypage_top_txt {
    padding: 20px 0 20px 40px;
    text-align: center;
    vertical-align: middle;
    background: #f7f9f8;
    width: 383px;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    justify-content: flex-start;
}
.mypage_top_txt .grade_img {
    padding: 0 20px 10px 0;
}

.mypage_top_txt .grade_img img {
    max-width: 70px;
}

img {
    border: 0 none;
    vertical-align: top;
    /* overflow-clip-margin: content-box; */
    overflow: clip;
}

.mypage_top_txt .grade_txt {
    text-align: left;
}

.mypage_top_txt .grade_txt p {
    font-size: 15px;
    line-height: 15px;
}

.mypage_top_txt .grade_txt p + p {
    margin-top: 4px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.mypage_top_txt .grade_txt span {
    color: #333;
}

.mypage_top_txt .grade_txt .btn_layer {
    margin: 20px 0 0 0;
}

.btn_layer {
    position: relative;
    display: inline-block;
}

.mypage_top_txt .grade_txt .btn_layer .btn_gray_list .btn_gray_small {
    padding: 0 0 0 0;
    width: 100px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    box-sizing: border-box;
    background: #dedede;
    border: 0 none;
}

.btn_gray_list .btn_gray_small {
    font-size: 11px;
}

.btn_gray_list a, .btn_gray_list button {
    display: inline-block;
    vertical-align: middle;
}

a {
    color: #000;
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

.mypage_top_txt .grade_txt .btn_layer .btn_gray_list .btn_gray_small em {
    padding: 0 0 0 0;
    background: #dedede;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.03em;
}

.btn_gray_list .btn_gray_small em {
    line-height: 22px;
}

.btn_gray_list a em, .btn_gray_list button em {
    display: inline-block;
}
